# Application
PORT=3000
APP_NAME=Trans Allal API
APP_ENV=development
APP_URL=http://localhost:3000
API_PREFIX=api/v1

# Data
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/trans_allal

# Auth
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-in-production
JWT_REFRESH_EXPIRES_IN=7d

# Cache / Queue
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Communication
CORS_ORIGIN=http://localhost:3001,http://localhost:19006
WS_PORT=3002
